<div class="results-block">
    <%= render "layouts/messages" %>
</div>
<% if @users %>
<div class="card card-header results-block">
    <table class="col-md-12">
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td><strong>First name: </strong><%= user.first_name %></td>
                    <td><strong>Last name: </strong><%= user.last_name %></td>
                    <td><strong>Profile: </strong><%= link_to "View Profile", "#", class: "btn btn-sm btn-success" %></td>
                    <td><%= link_to "Follow?", friendships_path(user: current_user, friend_id: user.id), class: "btn btn-sm btn-success", method: :post %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
 </div>

<% end %>